# Auto detect text files and perform LF normalization
* text=auto

# TypeScript
*.ts text
*.tsx text

# JavaScript
*.js text
*.jsx text

# Styles
*.css text
*.scss text

# Documentation
*.md text
*.txt text

# Config files
*.json text
*.yml text
*.yaml text
